### In-Game Purchase Data Analysis

#### Background 

In this homework, you are ask to deal with a task of analyzing an "in-game purchase" dataset. In this game, players are able to to purchase optional items that enhance their playing experience. Now your task is to generate a report that breaks down the game's purchasing data into meaningful insights.

-----

#### Observable Trends

* There are 1163 active players. The vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.79%) with secondary groups falling between 15-19 (18.58%) and 25-29 (13.37%). 

* The age group that spends the most money is the 20-24 with 1,114.06 dollars as total purchase value and an average purchase of 4.32. In contrast, the demographic group that has the highest average purchase is the 35-39 with 4.76 and a total purchase value of 147.67. 
-----

In [1]:
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [8]:
#nunique() count the number of unique values in a column DataFrame( based on 'SN' column )
player_count = purchase_data['SN'].nunique()

#create a one-row table with the result
playerCount_df = pd.DataFrame({'Total Players': [player_count]})
playerCount_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Display the summary data frame

In [19]:
#if the values are strings, convert them to float first using pd.to_numeric(df['Price']).
num_of_items = purchase_data['Item ID'].nunique()
sum_revenue = purchase_data['Price'].sum()
num_of_purchase = len(purchase_data)
avg_price = round(purchase_data['Price'].mean(), 2)


number_df = pd.DataFrame({'Number of Unique Items': [num_of_items],
                          'Average Price': [avg_price],
                          'Number of Purchases': [num_of_purchase],
                          'Total Revenue': [sum_revenue], 
                         })
number_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [36]:

non_duplicate_data = purchase_data.drop_duplicates(subset='SN')
total = len(non_duplicate_data)

male_count = non_duplicate_data['Gender'].value_counts().get('Male', 0)
female_count = non_duplicate_data['Gender'].value_counts().get('Female', 0)
non_disclosed = non_duplicate_data['Gender'].value_counts().get('Other / Non-Disclosed', 0)



male_percentage = round((male_count / total) * 100, 2)
female_percentage = round((female_count / total) * 100, 2)
non_disclosed_percentage = round((non_disclosed / total) * 100, 2)

# Create a 2D table with counts and percentages
data = {
    'Percentage of Players': [male_percentage, female_percentage, non_disclosed_percentage],
    'Total Count': [male_count, female_count, non_disclosed],
}

# Create a DataFrame for the table
gender_df1 = pd.DataFrame(data, index=['Male', 'Female', 'Other / Non-Disclosed'])
gender_df1

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain below values by gender
  * Purchase Count
  * Average Purchase Price  
  * Total Purchase Value
  * Average Purchase Total per Person by Gender
* Create a summary data frame to hold the results
* Display the summary data frame

In [57]:
male_purchase_count = purchase_data['Gender'].value_counts().get('Male', 0)
female_purchase_count = purchase_data['Gender'].value_counts().get('Female', 0)
non_purchase_disclosed_count = purchase_data['Gender'].value_counts().get('Other / Non-Disclosed', 0)

male_purchase_Psum = purchase_data[purchase_data['Gender'] == 'Male']['Price'].sum()
female_purchase_Psum = purchase_data[purchase_data['Gender'] == 'Female']['Price'].sum()
non_purchase_disclosed_Psum = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']['Price'].sum()

non_duplicate_data = purchase_data.drop_duplicates(subset='SN')
male_nonD_count = non_duplicate_data['Gender'].value_counts().get('Male', 0)
female_nonD_count = non_duplicate_data['Gender'].value_counts().get('Female', 0)
non_disclosed_nonD_count = non_duplicate_data['Gender'].value_counts().get('Other / Non-Disclosed', 0)

male_purchase_avg = round(male_purchase_Psum / male_purchase_count, 5) if male_purchase_count else 0
female_purchase_avg = round(female_purchase_Psum / female_purchase_count, 5) if female_purchase_count else 0
non_purchase_disclosed_avg = round(non_purchase_disclosed_Psum / non_purchase_disclosed_count, 5) if non_purchase_disclosed_count else 0


data = {
    'Purchase Count': [female_purchase_count, male_purchase_count, non_purchase_disclosed_count],
    'Average Purchase Price': [female_purchase_avg, male_purchase_avg, non_purchase_disclosed_avg],
    'Total Purchase Value': [female_purchase_Psum, male_purchase_Psum, non_purchase_disclosed_Psum],
    'Avg Purchase Total per Person': [
        round(female_purchase_Psum / female_nonD_count, 2) if female_purchase_count else 0,
        round(male_purchase_Psum / male_nonD_count, 2) if male_purchase_count else 0,
        round(non_purchase_disclosed_Psum / non_disclosed_nonD_count, 2) if non_purchase_disclosed_count else 0
    ],
}


gender_df2 = pd.DataFrame(data, index=['Female', 'Male', 'Other / Non-Disclosed'])
gender_df2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Female,113,3.20301,361.94,4.47
Male,652,3.01785,1967.64,4.07
Other / Non-Disclosed,15,3.34600,50.19,4.56

## Age Demographics

* Categorize players using the age groups. Hint: use pd.cut()
  * each group is for 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* round the percentage column to two decimal points
* Display Age Demographics Table

In [74]:
non_duplicate_data = purchase_data.drop_duplicates(subset='SN')

# Define age bins and labels
bins = [-1, 9, 14, 19, 24, 29, 34, 39, float('inf')]  # Define bins for age groups
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']  # Define labels for the bins

# Create age groups without modifying the original DataFrame
age_groups = pd.cut(non_duplicate_data['Age'], bins=bins, labels=labels)

# Calculate the count of people in each age group
age_group_counts = age_groups.value_counts().sort_index()

# Create a DataFrame for better presentation using the desired data structure
data = {
    'Percentage of Players': (age_group_counts / age_group_counts.sum() * 100).round(2).tolist(),
     'Total Count': age_group_counts.tolist(),
}

# Create the DataFrame without needing to specify a column index
age_df1 = pd.DataFrame(data, index=labels)
age_df1

       Percentage of Players  Total Count
<10                     2.95           17
10-14                   3.82           22
15-19                  18.58          107
20-24                  44.79          258
25-29                  13.37           77
30-34                   9.03           52
35-39                   5.38           31
40+                     2.08           12

## Purchasing Analysis (Age)

* The below each broken into groups of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Display the summary data frame

## Top Spenders

* Identify the the top 5 spenders in the game by total purchase value (top-5 players with highest total purchase value), then list (in a table):
  * SN(screen name)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Display a preview of the summary data frame

## Most Popular Items

* Top 5 most popular items by purchase count:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Display a preview of the summary data frame

## Most Profitable Items

* Top 5 most profitable items by total purchase value:
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
* Sort the above table by total purchase value in descending order
* Display a preview of the data frame